.page-link {
  color: var(--color-primary);
  border-color: var(--color-primary);
  transition: background 0.2s, color 0.2s;
}
.page-link:hover, .page-link:focus {
  background-color: var(--color-primary-h);
  color: var(--text-color-light);
  border-color: var(--color-primary-h);
}
.page-item.active .page-link {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--text-color-light);
}
.page-item.disabled .page-link {
  color: #aaa;
  background-color: #f8f9fa;
  border-color: #dee2e6;
}