.sidebar {
  background-color: var(--color-primary);
  color: var(--text-color-sidebar);
  height: 100vh;
  overflow-y: auto;
  border-top-right-radius: 0.5rem;
}

.btn-toggle,
.btn-toggle-nav a {
  color: var(--text-color-sidebar);
  background-color: transparent;
  font-weight: 500;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  border-radius: var(--radius-sm);
  transition: var(--transition);
}

.btn-toggle-nav a {
  padding-left: 2rem;
}

.btn-toggle:hover,
.btn-toggle-nav a:hover {
  background-color: var(--color-primary-h);
  color: var(--color-light);
}

.content {
  background-color: var(--color-secondary);
  color: var(--text-color);
  min-height: 100vh;
  border-radius: var(--radius-md);
  box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}