{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}" />
<link rel="stylesheet" href="{% static 'css/buy_orders_list.css' %}" />
{% endblock %}

{% block content %}
  <div class="content-container p-4 rounded shadow-sm">
    <h2 class="mt-5">Ordens de Compra</h2>
    <form method="get" class="mb-4" autocomplete="off">
      <div class="d-flex align-items-end gap-2">
        <a href="{% url 'buy-orders-import' %}" class="btn btn-secondary">Importar</a>
        <a href="{% url 'buy-orders-import' %}" class="btn btn-secondary">Exportar</a>
        <div class="ms-auto d-flex align-items-end gap-2">
          {% if request.GET %}
              <a href="?" class="btn btn-outline-secondary ms-2">Limpar</a>
          {% endif %}
          <!-- Filtros -->
          <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
            <i class="bi bi-funnel"></i> Filtros
          </button>
          <!-- Ordem de Compra -->
          <div style="max-width: 250px;">
            <label for="{{ filter_form.buy_order.id_for_label }}" class="form-label mb-0 small">Ordem de Compra</label>
            {{ filter_form.buy_order }}
          </div>
          <!-- Filtrar e Limpar -->
          <div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </div>
        </div>
      </div>
      <!-- Filtros collapse -->
      <div class="collapse mt-2" id="filtersCollapse">
        <div class="card card-body p-2">
          <div class="row g-2">
            <div class="col-auto">
              <label for="{{ filter_form.purchase_date.id_for_label }}" class="form-label mb-0 small">Data de Compra</label>
              {{ filter_form.purchase_date }}
            </div>
            <div>
              <label for="{{ filter_form.status.id_for_label }}" class="form-label mb-0 small">Status</label>
              {{ filter_form.status }}
            </div>
            <div>
              <label for="{{ filter_form.payment_type.id_for_label }}" class="form-label mb-0 small">Método de Pagamento</label>
              {{ filter_form.payment_type }}
            </div>
          </div>
        </div>
      </div>
    </form>
    
    {% if buyorders %}
    <div id="buy-orders-table-container">
        {% include "partials/buy_orders_table.html" %}
    </div>
    {% else %}
      <p class="mt-5">Nenhuma ordem de compra encontrada.</p>
    {% endif %}
  </div>

{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/buy_orders_list.js' %}"></script>
  <script src="{% static 'js/buy_orders_table.js' %}"></script>
{% endblock %}