{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" />
<link rel="stylesheet" href="{% static 'css/customers_list.css' %}" />
{% endblock %}

{% block content %}
  <div class="content-container p-4 rounded shadow-sm">
    <h2 class="mt-5">Clientes</h2>
    <form method="get" class="mb-4" autocomplete="off">
      <div class="d-flex align-items-end gap-2">
        <a href="#" class="btn btn-secondary">Importar</a>
        <a href="#" class="btn btn-secondary">Exportar</a>
        <div class="ms-auto d-flex align-items-end gap-2">
          {% if request.GET %}
              <a href="?" class="btn btn-outline-secondary ms-2">Limpar</a>
          {% endif %}
          <!-- Filtros -->
          <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
            <i class="bi bi-funnel"></i> Filtros
          </button>
          <!-- Email -->
          <div style="max-width: 250px;">
            <label for="{{ filter_form.email.id_for_label }}" class="form-label mb-0 small">Email</label>
            {{ filter_form.email }}
          </div>
          <!-- Filtrar e Limpar -->
          <div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </div>
        </div>
      </div>
      <!-- Filtros collapse -->
      <div class="collapse mt-2" id="filtersCollapse">
        <div class="card card-body p-2">
          <div class="row g-2">
            <div class="col-auto">
              <label for="{{ filter_form.first_name.id_for_label }}" class="form-label mb-0 small">Nome</label>
              {{ filter_form.first_name }}
            </div>
            <div>
              <label for="{{ filter_form.customer_group.id_for_label }}" class="form-label mb-0 small">Grupo de Clientes</label>
              {{ filter_form.customer_group }}
            </div>
          </div>
        </div>
      </div>
    </form>
    
    {% if customers %}
    <div id="customers-table-container">
        {% include "partials/customers_table.html" %}
    </div>
    {% else %}
      <p class="mt-5">Nenhum cliente encontrado.</p>
    {% endif %}
  </div>

{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/buy_orders_list.js' %}"></script>
  <script src="{% static 'js/buy_orders_table.js' %}"></script>
{% endblock %}